<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Starter Kit</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="images/touch/chrome-touch-icon-196x196.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- build:css styles/components/main.min.css -->
    <link rel="stylesheet" href="styles/h5bp.css">
    <link rel="stylesheet" href="styles/components/components.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="app" ng-strict-di>
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
        <h1 class="logo">Soundcloud Playlist Sharing</h1>
        <section class="app-bar-actions">
        <!-- Put App Bar Buttons Here -->
        </section>
      </div>
    </header>

    <nav class="navdrawer-container promote-layer">
      <h4>Navigation</h4>
      <ul>
        <li><a href="#hello">Hello</a></li>
        <li><a href="#get-started">Get Started</a></li>
        <li><a href="styleguide/index.html">Style Guide</a></li>
      </ul>
    </nav>

    <main ng-controller="HomeController as home">

      <h1 id="hello">Hello, {{home.title}}</h1>

      <p>Search Soundcloud tracks below.</p>

      <div ng-controller="SoundcloudController as sc">
        <ul>
          <li ng-repeat="x in sc.playlist"> 
            <a href="javascript:;" ng-click="sc.showSongPlaylist($index)" class="cta--secondary" ng-if="sc.playlistIndex != $index">
                <i class="icon icon-chevron-right"></i>Play
            </a>
            <span ng-if="sc.playlistIndex == $index">PLAYING... </span>
            {{ x.user.username }} - {{ x.title }} 
            <a href="javascript:;" ng-click="sc.removeFromPlaylist($index)" class="cta--primary">Remove</a>
          </li>
        </ul>
        <form name="scAdd" ng-submit="sc.search()">
          <input type="text" ng-model="sc.ui" required>
          <input type="submit" class="button--primary" value="Search"></input>
        </form>
        <div dynamic="sc.embedHtml"></div>

        <loading var="sc.loading"></loading>

        <ul>
          <li ng-repeat="x in sc.list" ng-if="x.embeddable_by == 'all'"> 
            <a href="javascript:;" ng-click="sc.showSong($index)" class="cta--secondary" ng-if="sc.index != $index">
                <i class="icon icon-chevron-right"></i>Play
            </a>
            <span ng-if="sc.index == $index">PLAYING... </span>
            {{ x.user.username }} - {{ x.title }} 
            <a href="javascript:;" ng-click="sc.addToPlaylist($index)" class="cta--primary">Add to Playlist</a>
          </li>
        </ul>
      </div>
    </main>

    <!-- build:js scripts/main.min.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js" type="text/javascript"></script>
    <script src="//w.soundcloud.com/player/api.js"></script> 

    <script src="scripts/main.js"></script>
    <script src="scripts/controllers/HomeController.js"></script>
    <script src="scripts/controllers/SoundcloudController.js"></script>
    <script src="scripts/directives/DynamicDirective.js"></script>
    <script src="scripts/directives/LoadingDirective.js"></script>
    <script src="scripts/services/NotificationService.js"></script>
    <script src="scripts/services/SoundcloudService.js"></script>
    <!-- endbuild -->

    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
