/**
*
* Link
*
**/

a {
  color: $colorOrangeSecondary;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.cta--primary {
  @include style-cta($colorOrangeSecondary, $icon-chevron-right);
}

.cta--secondary {
  @include style-cta($colorOrangeSecondary);
}
